# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
apps/web/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
apps/web/vendor/* linguist-vendored
apps/web/config/credentials/*.yml.enc diff=rails_credentials
apps/web/config/credentials.yml.enc diff=rails_credentials
